<div class="o_control_panel">
    <ol class="breadcrumb">
        <li class="active">Khách hàng</li>
    </ol>
    <div class="o_cp_searchview">
        <div class="o_searchview">
            <!-- <input type="text" class="o_searchview_input" placeholder="Theo mã, tên hoặc số điện thoại"
                [(ngModel)]="search" (ngModelChange)="this.searchUpdate.next($event)" /> -->
        </div>
    </div>
    <div class="o_cp_left">
        <div class="o_cp_buttons">
            <div class="o_form_buttons_view">
                <button type="button" accesskey="c" class="btn btn-primary btn-sm" (click)="createItem()">Thêm</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="importFromExcel()">Import</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="exportPartnerExcelFile()"><i
                        class="fas fa-download"></i>&nbsp;Xuất file Excel</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="updateFromExcel()">Cập nhật
                    Excel</button>
            </div>
        </div>
        <div class="o_cp_sidebar">
        </div>
    </div>
    <div class="o_cp_right">

    </div>
</div>

<div class="o_content">

</div>
