<div class="main-nav-wrapper" [class.collapsed]="sidebarService.collapsed">
    <nav class="main-nav">
        <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let item of menuItems;let i = index"
                (mouseover)="sidebarService.collapsed && activeIndex = i"
                (mouseout)="sidebarService.collapsed && activeIndex = -1" [class.active]="i === activeIndex">
                <a class="nav-link" [routerLink]="item.link" routerLinkActive="active" *ngIf="item?.children?.length == 0">
                    <i class="menu-icon"></i>
                    <span class="menu-name">{{item.name}}</span>
                </a>
                <a class="nav-link auto" *ngIf="item?.children?.length">
                    <i class="menu-icon"></i>
                    <span class="menu-name">{{item.name}}</span>
                    <span class="float-right text-muted menu-open">
                        <i class="fas fa-angle-right text"></i>
                        <i class="fas fa-angle-down text-active"></i>
                    </span>
                </a>
                <ul class="nav flex-column nav-sub dk" *ngIf="item?.children?.length">
                    <li *ngFor="let child of item.children">
                        <a class="nav-link" [routerLink]="child?.link" [queryParams]="child?.params"
                            routerLinkActive="active">{{child.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
