<header class="modal-header">
    <h5 class="modal-title">
        {{title}}
        <span class="o_subtitle text-muted small"></span>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()" tabindex="-1">×</button>
</header>
<div class="modal-body o_act_window">
    <form class="o_form_view" [formGroup]="formGroup">
        <div class="o_form_sheet_bg">
            <div class="float-right">

            </div>
            <div class="oe_title">
                <label for="" class="o_form_label oe_edit_only">Họ tên</label>
                <h1>
                    <input class="form-control" formControlName="name" name="name">
                </h1>
                <div *ngIf="f.name.errors && (f.name.touched || f.name.dirty || submitted)" class="text-danger mb-1">
                  <div *ngIf="f.name.errors.required">Nhập tên khách hàng</div>
                </div>
            </div>
            <div class="o_notebook">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Thông tin cơ bản</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="medical_history-tab" data-toggle="tab" href="#medical_history" role="tab" aria-controls="medical_history" aria-selected="false">Tiểu sử bệnh</a>
                    </li>
                </ul>
                <div class="tab-content">
                     <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="o_group">
                            <table class="o_group o_inner_group o_group_col_6">
                                <tbody>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Điện thoại</label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <input type="text" class="form-control" formControlName="phone" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Mã khách hàng</label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <input class="form-control" formControlName="ref" placeholder="Để trống sẽ tự động phát sinh" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Giới tính</label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" formControlName="gender" (change)="onChangeGender($event.target.value)" id="male_radio" value="male" name="gender" checked>
                                                <label class="form-check-label" for="male_radio">Nam</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" formControlName="gender" (change)="onChangeGender($event.target.value)" id="female_radio" value="female" name="gender">
                                                <label class="form-check-label" for="female_radio">Nữ</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" formControlName="gender" (change)="onChangeGender($event.target.value)" id="other_radio" value="other" name="gender">
                                                <label class="form-check-label" for="other_radio">Khác</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Ngày sinh</label>
                                        </td>
                                        <td colspan="1" style="width:100%">
                                            <div class="d-flex">
                                                <select class="form-control" formControlName="birthDayStr">
                                                    <option value="">Ngày</option>
                                                    <option *ngFor="let i of dayList">
                                                        {{i}}</option>
                                                </select>
                                                <select class="form-control" formControlName="birthMonthStr">
                                                    <option value="">Tháng</option>
                                                    <option *ngFor="let i of monthList">
                                                        {{i}}</option>
                                                </select>
                                                <select class="form-control" formControlName="birthYearStr">
                                                    <option value="">Năm</option>
                                                    <option *ngFor="let i of yearList">
                                                        {{i}}</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Danh xưng</label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <div class="d-flex">
                                                <kendo-combobox formControlName="title" [filterable]="true" [placeholder]="'ví dụ ông, bà, anh, chị...'" [data]="filteredTitles" [valueField]="'id'" #titleCbx [textField]="'name'">
                                                </kendo-combobox>
                                                <a class="btn btn-sm btn-light" (click)="quickCreateTitle()">
                                                    <span class="k-icon k-i-plus"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Email</label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <input type="text" class="form-control" formControlName="email" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Nghề nghiệp</label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <input class="form-control" formControlName="jobTitle" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Người tư vấn</label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <kendo-combobox formControlName="consultant" [filterable]="true" [data]="filteredConsultants" [valueField]="'id'" #consultantCbx [textField]="'name'">
                                            </kendo-combobox>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="o_group o_inner_group o_group_col_6">
                                <tbody>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Ngày tạo</label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <kendo-datepicker formControlName="dateObj">
                                            </kendo-datepicker>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <div class="d-flex">
                                                <label class="o_form_label">
                                                    Địa chỉ
                                                </label>
                                                <div class="pl-3">

                                                </div>
                                            </div>

                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <div class="o_address_format mb-2">
                                                <div class="mb-2">
                                                    <input class="form-control" placeholder="Số nhà, đường..." type="text" formControlName="street" />
                                                </div>
                                                <div class="mb-2">
                                                    <kendo-combobox [data]="dataResultCities" [textField]="'name'" [filterable]="true" [placeholder]="'Tỉnh/Thành'" [filterable]="true" (filterChange)="handleCityFilter($event)" #cityCbx (valueChange)="handleCityChange($event)" formControlName="city" [valueField]="'code'">
                                                    </kendo-combobox>
                                                </div>
                                                <div class="mb-2">
                                                    <kendo-combobox [data]="dataResultDistricts" [textField]="'name'" [disableControl]="isDisabledDistricts" [placeholder]="'Quận/Huyện'" (filterChange)="handleDistrictFilter($event)" [filterable]="true" #districtCbx (valueChange)="handleDistrictChange($event)"
                                                        formControlName="district" [valueField]="'code'">
                                                    </kendo-combobox>
                                                </div>
                                                <kendo-combobox [data]="dataResultWards" [textField]="'name'" [disableControl]="isDisabledWards" [placeholder]="'Phường/Xã'" [filterable]="true" (filterChange)="handleWardFilter($event)" #wardCbx (valueChange)="handleWardChange($event)" formControlName="ward"
                                                    [valueField]="'code'">
                                                </kendo-combobox>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Nguồn</label>
                                        </td>
                                        <td colspan="1" style="width: 100%;">
                                            <div>
                                                <kendo-combobox formControlName="source" [filterable]="true" [data]="filteredSources" [valueField]="'id'" #sourceCbx [textField]="'name'">
                                                </kendo-combobox>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1" class="o_td_label"><label class="o_form_label">Ghi
                                                chú</label></td>
                                        <td colspan="1" style="width: 100%;">
                                            <textarea class="form-control" formControlName="comment"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                     </div>
                     <div class="tab-pane " id="medical_history" role="tabpanel" aria-labelledby="medical_history-tab">
                        <div class="o_group">
                            <table class="o_group o_inner_group o_group_col_6">
                                <tbody>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Tiểu sử bệnh</label>
                                        </td>
                                        <td colspan="1" style="width:100%">
                                            <div *ngFor="let i of historiesList" class="checkbox">
                                                <label><input type="checkbox" [checked]="checked(i)"
                                                        (change)="checkboxChange(i,$event.target.checked)" />
                                                    {{i.name}}
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="o_group o_inner_group o_group_col_6">
                                <tbody>
                                    <tr>
                                        <td colspan="1" class="o_td_label">
                                            <label class="o_form_label">Tiểu sử khác</label>
                                        </td>
                                        <td colspan="1" style="width:100%">
                                            <textarea class="form-control" formControlName="medicalHistory"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div>
        <button type="button" class="btn btn-primary btn-sm mr-2" (click)="onSave()" accesskey="s">Lưu</button>
        <button type="button" class="btn btn-light btn-sm mr-2" (click)="onCancel()" accesskey="q">Đóng</button>
    </div>
</div>
